/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
#body{
    border: 1px solid rgba(0, 0, 0, 0.276);
    width: 370px;
    height: 670px;
    margin: auto;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.158);
}
.name{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    font-family: cursive;
}
.heading{
    width: 75%;
    height: 60px;
    /* border:  1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.479);
    font-weight: bold;
    margin-bottom: 10px;
}
#logobox{
    width: 83%;
    height: 35px;
    /* border: 1px solid wheat; */
    background-color: rgb(30, 145, 245);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
}
#logobox:hover{
   background-color:rgba(26, 99, 224, 0.941);
}
.box1{
    width: 20%;
    height: 40px;
    /* border: 1px solid black; */
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}
img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.box2{
    width: 50%;
    height: 40px;
    /* border: 1px solid black; */
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}

h1{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
.border{
    border-bottom: 1px solid black;
    margin: 23px;
}

input{
    width: 81%;
    height: 28px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.087);
    border: 1px solid rgba(128, 128, 128, 0.557);
    border-radius: 3px;
    margin: 4px;
}
.inputbox{
    display: flex;
    justify-content: center;
   
}
input:hover{
    color: grey;
    background-color: rgba(128, 128, 128, 0.215);
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.502);
}
#paraheading{
    display: block;
    text-align: center;
    
}
.parebox{
    width: 80%;
    height: 53px;
    /* border: 1px solid black; */
    /* background-color: antiquewhite*/
    margin: auto;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;

}
button{
    width: 80%;
    height: 35px;
    border: 1px solid rgb(30, 145, 245) ;
    color: white;
    background-color: rgba(30, 145, 245, 0.694);
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 10px;
   
}