*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#headpart{
    width: 100%;
    height: 1300px;
    border:  1px solid black;
    /* background-color: antiquewhite; */
    display: block;
    
   /* display: flex; */
    /* justify-content: center; */
     align-items: center; 
    text-align: center;
    
}
.body{
    border: 1px solid rgba(0, 0, 0, 0.139);
    width: 390px;
    height: 640px;
    margin: auto;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.158);
}
.name{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    font-size:50px;
    font-family: cursive;
}
.heading{
    width: 75%;
    height: 60px;
    /* border:  1px solid black; */
    font-size: 14px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.479);
    font-weight: bold;
    margin-bottom: 10px;
}
#logobox{
    width: 83%;
    height: 35px;
    /* border: 1px solid wheat; */
    background-color: rgb(30, 145, 245);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
}
#logobox:hover{
   background-color:rgba(26, 99, 224, 0.941);
}
.box1{
    width: 20%;
    height: 40px;
    /* border: 1px solid black; */
    /* background-color: burlywood; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
}
img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.box2{
    width: 50%;
    height: 40px;
    /* border: 1px solid black; */
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}
h1{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
.border{
    border-bottom: 1px solid black;
    margin: 23px;
}

input{
    width: 81%;
    height: 35px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.087);
    border: 1px solid rgba(128, 128, 128, 0.557);
    border-radius: 3px;
    margin: 4px;
}
.inputbox{
    display: flex;
    justify-content: center;
   
}
input:hover{
    color: grey;
    background-color: rgba(128, 128, 128, 0.137);
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.276);
}

.parebox{
    width: 80%;
    height: 53px;
    /* border: 1px solid black; */
    /* background-color: antiquewhite; */
    margin: auto;
    color: rgba(0, 0, 0, 0.699);
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
button{
    width: 80%;
    height: 35px;
    border: 1px solid rgb(30, 145, 245) ;
    color: white;
    background-color: rgba(30, 145, 245, 0.694);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    
   
}
#signupbox{
    width: 390px;
    height: 80px;
    border: 1px solid  rgba(0, 0, 0, 0.139);
    /* background-color: rgb(187, 187, 222); */
    margin: auto;
    color: rgba(0, 0, 0, 0.557);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a{
    color: rgb(33, 139, 214);
}
.getpage{
    width: 390px;
    height: 20px;
    /* border: 1px solid black; */
    margin: auto;
}
#googlepic{
    width: 390px;
    height: 70px;
    /* border: 1px solid black; */
    /* background-color: bisque; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#metatagbox{
    width: 900px;
    height: 40px ;
    /* border: 1px solid black; */
    /* background-color: beige; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}








